/* REGISTRARSE -------------------------------------------*/

input {
    background-color: rgb(6, 248, 248);
}

.formulario {
    padding: 25px;
    margin: 25px;
}

.tituloFormulario {
    justify-content: center;
    text-align: center;

}

.cajaFormulario {

    margin: auto;
    line-height: 40px;
}

.itemFormulario {
    padding-top: 25px;
    margin-right: 20px;
    margin-left: 20px;
    margin: auto;
    line-height: 40px;
    font-weight: 900;
}