@media only screen and (min-width:768px) and (max-width:1239px) {
    .gridContainer {
        display: grid;
        grid-template-areas:
            "header header"
            "main"
            "footer footer";
        grid-template-columns: 50% 50%;
        grid-template-rows: 100px 1fr auto 400px;
        background-color: greenyellow;
    }

    header {
        grid-area: header;
        display: flex;
    }

    footer {
        grid-area: footer;
        display: flex;
        justify-content: space-around;
        padding-top: 20px;
    }

}

@media only screen and (min-width:0px) and (max-width:767px) {
    .gridContainer {
        display: grid;
        grid-template-areas:
            "header"
            "main"
            "footer";
        grid-template-columns: 100%;
        grid-template-rows: 100px 1fr auto 400px auto;
        background-color: yellow;
    }

    header {
        grid-area: header;
        display: flex;
    }

    header img {
        padding: 10px;
    }

    footer {
        grid-area: footer;
        display: flex;
        justify-content: space-around;
        padding-top: 20px;
    }

}