/* PRODUCTOS -------------------------------------------*/
.tituloProductos {
    padding: 25px;
    margin: 25px;
}

.productos {
    display: block;
    padding: 5px;
    margin: 5px;
    list-style: lower-latin;
    font-weight: 800;
}

/* PRECIOS -------------------------------------------*/

table {
    text-align: center;
}

.listaDePrecios {
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
}