/* SUCURSALES -------------------------------------------*/
.nuestrosLocales {
    padding-top: 0px;
    text-align: center;
}

.sectionSucursales {
    flex-direction: row;
    display: block;
}

.titulosSucursales {
    padding-top: 25px;
    margin-bottom: 20px;
    line-height: 40px;
    font-weight: 900;
    text-align: center;
}

.imagenSucursales {
    width: 600px;
    height: 500px;
    display: block;
}

.direccionSucursales {
    text-align: center;
}