/* EMPIEZA FOOTER -------------------------------------------*/
.footer {
    display: flex;
    grid-area: footer;
    background-image: url("../imagenes/pared-ladrillo-pastel_53876-88707.webp");
    list-style: none;
    justify-content: space-around;
    align-items: center;
}