.imagenMain1 {
    display: flex;
    margin: 5px;
    padding: 25px;
    }
    #fraseMain1 {
    font-size: xx-large;
    padding-top: 150px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding-left: 50px;
    text-align: center;
}

.imagenMain2 {
    display: flex;
    margin: 5px;
    padding: 25px;
    }
    #fraseMain2 {
    font-size: xx-large;
    padding-top: 150px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding-left: 50px;
    text-align: center;
}

.imagenMain3 {
    display: flex;
    margin: 5px;
    padding: 25px;
    }
    #fraseMain3 {
    font-size: xx-large;
    padding-top: 150px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding-left: 50px;
    text-align: center;
}

.imagenMain4 {
    display: flex;
    margin: 5px;
    padding: 25px;
    }
    #fraseMain4 {
    font-size: xx-large;
    padding-top: 150px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding-left: 50px;
}

.imagenMain5 {
    display: flex;
    margin: 5px;
    padding: 25px;
    }
    #fraseMain5 {
    font-size: xx-large;
    padding-top: 150px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding-left: 50px;
    text-align: center;
}

.imagenMain6 {
    display: flex;
    margin: 5px;
    padding: 25px;
    }
    #fraseMain6 {
    font-size: xx-large;
    padding-top: 150px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding-left: 50px;
    text-align: center;
}